[workspace]
members = [
    "sevenmark-parser",
    "sevenmark-transform",
    "sevenmark-server",
]
resolver = "2"

[workspace.package]
version = "2.7.1"
authors = ["Levi Lim <shiueo.csh@gmail.com>"]
license = "Apache-2.0"
repository = "https://github.com/sevenwiki/sevenmark"
description = "A DSL designed for Sevenwiki"
edition = "2024"
rust-version = "1.91.1"

[workspace.dependencies]
sevenmark-parser = { version = "2.7.1", path = "sevenmark-parser" }
sevenmark-transform = { version = "2.7.1", path = "sevenmark-transform" }

# Shared dependencies
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
anyhow = "1.0.100"
sea-orm = { version = "2.0.0-rc.20", features = ["sqlx-postgres", "runtime-tokio-native-tls"] }
tracing = "0.1.43"

[profile.dev]
opt-level = 1