[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.package]
version = "2.8.3"
authors = ["Levi Lim <shiueo.csh@gmail.com>"]
license = "Apache-2.0"
repository = "https://github.com/sevenwiki/sevenmark"
description = "High-performance wiki markup language powering SevenWiki"
edition = "2024"
rust-version = "1.92.0"

[workspace.dependencies]
# Internal crates
sevenmark-parser = { version = "2.8.3", path = "crates/sevenmark-parser" }
sevenmark-transform = { version = "2.8.3", path = "crates/sevenmark-transform" }
sevenmark-html = {version = "2.8.3", path="crates/sevenmark-html"}

winnow = { version = "0.7.14", features = ["simd"] }
line-span = "0.1.5"
paste = "1.0.15"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.146"
sea-orm = { version = "2.0.0-rc.22", features = ["sqlx-postgres", "runtime-tokio-native-tls"] }
axum = { version = "0.8.8", features = ["multipart", "macros"] }
tokio = { version = "1.48.0", features = ["full"] }
utoipa = { version = "5.4.0", features = ["axum_extras", "openapi_extensions", "time"] }
utoipa-swagger-ui = { version = "9.0.2", features = ["axum", "debug-embed"] }
uuid = { version = "1.19.0", features = ["v7"] }
dotenvy = "0.15.7"
anyhow = "1.0.100"
tracing = "0.1.44"
tracing-subscriber = { version = "0.3.22", features = ["env-filter", "json"] }
tracing-appender = "0.2.4"
wasm-bindgen = "0.2.106"
js-sys = "0.3.83"
web-sys = "0.3.83"
maud="0.27.0"

[profile.dev]
opt-level = 1